<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="none" thread-count="3" >

<listeners>

<listener class-name="com.qa.crm.utilities.TestListener" /> 
<listener class-name="com.qa.crm.utilities.AnalyzerTransformer" /> 

</listeners>


  <test name="Test" >
   

    <classes>

	<class name="com.qa.crm.testpages.RegisterPageTest"  /> 
	<class name="com.qa.crm.testpages.FreeCRMEntryPageTest"/>
    <class  name ="com.qa.crm.testpages.FreeCRMLoginPageTest" />  
    
    
   
    
      
    </classes>

</test>  

</suite> 
